.options {
    background-color: var(--white);
    box-shadow: 0 0 1vmin 0.5vmin rgba(159, 159, 159, 0.1);
    padding: 2vmin 4vmin;
    font-size: 2vmin;
    width: 15%;
    position: absolute;
    top: 22%;
    left: 82.3%;
    list-style: none;
    line-height: 2;
}