.country {
    background-color: var(--white);
    margin: 5vmin;

    img {
        width: 35vmin;
        height: 20vmin;
        object-fit: cover;
    }

    .text {
        /* margin: 3vmin; */
        font-size: 2vmin;
        width: 90%;
    }
}