.country {
    background-color: var(--white);
    margin: 5vmin;
    /* border-radius: 1vmin; */
    box-shadow: 0 0 1vmin 0.5vmin rgba(159, 159, 159, 0.1);

    img {
        width: 35vmin;
        height: 20vmin;
        object-fit: cover;
    }

    .text {
        /* margin: 3vmin; */
        font-size: 2vmin;
        width: 90%;
    }
}