.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 0 5vmin;
    box-shadow: 0 0 1vmin 0.5vmin rgba(159, 159, 159, 0.1);

    .mode {
        display: flex;
        align-items: center;

        img {
            width: 3vmin;
            height: 3vmin;
            margin-right: 1vmin;
        }
    }
}