.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 0 5vmin;

    .mode {
        display: flex;
        align-items: center;

        img {
            width: 3vmin;
            height: 3vmin;
            margin-right: 1vmin;
        }
    }
}